:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #000; /* Fundo totalmente preto */
}

body {
  margin: 0;
  display: flex;
  place-items: center; /* Tenta centralizar no centro da tela */
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%; /* Garante que o React ocupe a largura total */
}